body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
}

/* Header & Navbar */
header {
  background-color: #fff;

  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Hero Section */

.hero {
  position: relative;
  height: 100vh; /* full layar */
  background-image: url("img/bui.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center; /* teks di tengah vertikal */
  align-items: center;     /* teks di tengah horizontal */
  text-align: center;
  color: white;
  padding: 0 20px;
}



.hero h1,
.hero p,
.hero .btn {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero .btn {
  background-color: #ffc107;
  border: none;
  color: rgb(8, 8, 8);
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.hero .btn:hover {
  background-color: #ffb300;
  transform: scale(1.05);
}



/* Info Section */
.section-info {
  padding: 0 20px;
  text-align: center;
}

.section-info h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fff;
}

.section-info p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fff;
}

/* Kontak Section */
#kontak {
  background-color: #111;
  background-color: #000000;
  color: rgb(16, 16, 16);
  padding: 60px 20px;
  text-align: center;
}

#kontak h2 span {
  color: gold;
}

.kontak-container {
  max-width: 900mx;
  margin: 0 auto;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
}

.kontak-form {
  flex: 1;
  min-width: 300px;
  text-align: left;
}

.kontak-map {
  flex: 1;
  min-width: 300px;
}

.kontak-form label {
  color: gold;
  font-weight: bold;
}

.btn-warning {
  background-color: gold;
  color: #111;
  font-weight: bold;
  border: none;
  width: 100%;
}

/* Footer */
footer {
  background-color: #000000;
  color: #fff9f9;
  text-align: center;
  padding: 20px;
}



